<!DOCTYPE html>
<html>
<head>
<!--- STYLES AND GRIDS-->
  <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Prosto+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
    <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.6.1/gridlex.min.css">
  <title>{{page.title}} </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://use.fontawesome.com/5d4bc885ca.js"></script>
</head>
<body>
  <header id="home">
<!-- mobile nav starts here -->
<div id="container" class="mob-show">
        <div class="col-6">
          
        </div>
        <div class="col-6">
          <nav>
            <a href="#home" title="Home" class="toggle-mobile-menu">
              <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
            </a>
          </nav>
        </div>
      <nav id="mobile-navigation" class="grid-middle-center-noBottom-noGutter bg-yellow animate _xs-12_sm-12">
          <a class="col-12 center toggle-mobile-menu" href="#home">
            <i class="fa fa-times" aria-hidden="true"></i>    
          </a>
          <a class="col-12 center" href="#home" class="toggle-mobile-menu">Home</a>
          <a class="col-12 center" href="#about_me" class="toggle-mobile-menu">About</a>
          <a class="col-12 center" href="#my_skills" class="toggle-mobile-menu">my skills</a>
          <a class="col-12 center" href="#contacts" class="toggle-mobile-menu">Contacts</a>
      </nav>
      
    </div> <!-- #container -->
<!-- mobile nav ends here -->
    <nav class="mobile-hide grid-spaceBetween _xs-12_sm-12">
      <!--division for a logo or image-->
      <div classs="col-2">
        <img src="../images/image3.jpg" id="image3" alt="a mind image for a logo"/>
      </div>
      <!-- <img src="../images/bulb.jpg" alt="background image"/> -->
      <!--division for a link-->
      <div class="col-5" id="hello">
        <a href="#home">home</a>
        <a href="#about_me"> about me</a>
        <a href="#my_skills">my skills</a>
        <a href="#contacts">contacts</a>
      </div>
    </nav>
        <h1>UWAMAHORO NATHALIE</h1>
       <div class="portofolio"> 
         <h2>PORTOFOLIO</h2>
      </div>
  </header>

  {{content}}

   <footer id="contacts">
   
    <h3>Contact me</h3>
        <!-- add form here-->
        <form method="POST" action="http://formspree.io/unathali@gmail.com" class="grid-center">
        <label class="col-8_sm-12" >Name</label>
        <input type="name" name="name" class="col-8_sm-12">
        <label class="col-8_sm-12" >Email</label>
        <input type="email" name="email" class="col-8_sm-12">
        <label class="col-8_sm-12">Message</label>
        <textarea name="message" class="col-8_sm-12"></textarea>
        <button class="col-5 button" type="submit">Send</button>
      </form>
      <nav class="grid-center socialNav _xs-12_sm-12">
        <!--links for social media-->
        <a class="col-1" href="https://web.facebook.com/uwamahoro.natacha"> <i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a class="col-1" href="mailto:Unathali@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        <a class="col-1" href="https://www.linkedin.com/in/uwamahoro-nathalie-32a839102/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
      </nav>
  </footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
<script src="/javascript/scripts.js">
</script>
</body>

</html>
